<div class="user-show">
  <h2>It's better to be a small part of something, than to be a big part of nothing.</h2>
  <br>
  <br>
  <h3><%= link_to "Come partner with us!", organizations_path %></h3>
</div>