html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.flash {  
  position: absolute;
  top: 90px;
  width: 100%;
  color: #42e5f4;
}

.login {
  
}

.nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
  padding: 8px;
  z-index: 9;
}

.globe {
  padding-right: 90%;
}

.user-icon {
  padding-top: 5px;
}

.welcome {
  text-align: -webkit-center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 55px;
  height: 25%;
}

.welcome h1, h3 {
  color: black;
}

.welcome-pictures {
  display: flex;
  justify-content: center;
  height: 70%;
}

.login-form {
  text-align: -webkit-center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-account {
  text-align: -webkit-center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-show {
  text-align: -webkit-center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px)
{
  .edit-account {
    text-align: -webkit-center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 17%;
    top: 0;
  }
}

.edit-account {
  text-align: -webkit-center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  margin-bottom: 200px;
  padding-top: 10%;
}

.org-index {
  margin-top: 6%;
}

.org-index h1 {
  margin-bottom: 1%;
}

.org-show {
  text-align: -webkit-center;
  margin-top: 6%;
}

.pagination{ 
  display: inline-block;
  padding-left: 0;
  margin: 30px 0;
  border-radius: 4px;
}

footer {
  text-align: -webkit-center;
  position: fixed;
  bottom: -9px;
  width: 100%;
}

#map {
   margin: 0;
   padding: 0;
   height: 400px;
   max-width: 80%;
}
#map img {
   max-width: none !important;
}


/*@media screen and (max-width: 1300px)
{
  body
  {
    color: red;
    padding-top: 17%;
 }
}
*/








